<section class="get-to-know">
  <div class="grid">
    <div class="left">
      <img [src]="leftImage" alt="Know us left" class="left-img" draggable="false" />
    </div>
    <div class="right">
      <img
        [src]="rightImage"
        alt="Know us right"
        class="right-img with-opacity"
        draggable="false"
      />
      <div class="overlay">
        <div class="text-content">
          <h2 class="title">
            <span class="title-prefix">GET TO KNOW</span>
            <span class="title-word"> <span class="title-v">V</span>ÜS </span>
          </h2>
          <p class="slogan">{{ slogan }}</p>
        </div>
        <img class="logo" [src]="logoSrc" alt="logo" draggable="false" />
      </div>
    </div>
  </div>
</section>
